{
  "root": true,
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "jsx-quotes": 1,
    "@next/next/no-img-element": "off",
    "semi": 0,
    "comma-dangle": [
      "warn",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline"
      }
    ],
    "no-unused-vars": "warn",
    "no-param-reassign": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "."]
      }
    }
  }
}
